body {
    background-color: #b4bcc5;
    
    margin: 2;
    padding: 2;
  }

  .fast {
    
      text-align: left;
      height: 90%;
      width: 35%;
      background-color: powderblue;
      
  }
  .fast-ul {
    background-color: rgb(230, 201, 180);
    height:auto
  }
 #createB {
  font-size: large;
 }
 #counter-fast {
  font-size: x-large;
  height: 25%;

 }



 