body {
    background-color: #cfdada;
    
    margin: 2;
    padding: 2;
  }
  
  header h1 {
    
    text-align: center;
    text-decoration-color: azure;
  
    height: 50px;
  }
  
  header h4 {
    padding: 10px;
    margin: 0;
  }
